@media screen and (max-width:576px){
    /* h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    h4{
        font-size: 1.5rem;
    } */

    nav, .banner, .menu ul{
        flex-direction: column;
        gap: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 60px;
    }
    .banner-img img{
        width: 375px;
    }
    .gamer{
        flex-direction: column;
    }
    .gamer-content{
        text-align: center;
    }
    .gamer-content p{
        text-align: center;
        width: 395px;
    }
    .gamer-content h2{
        text-align: center;
    }
    .gamer-img img{
        width: 375px;
    }
    
}