/*############ Google Font ###############*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


/*############ Basic Css ###############*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
p{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
}

h1{
    text-align: center;
    font-size: 6rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color:#94537a;
    background: -webkit-linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
h3{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
h4{
    color: #534C64;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}
.btn{
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding: 21px 40px;
    border: none;
    margin-top: 25px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

/*############ Header Section Css ###############*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 25px 110px;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width:86.041px;
}
.logo h3{
    padding-left: 10px;
}
.logo-text{
    color:#FF42A5;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li{
    margin-right: 25px;
    list-style: none;
}

.menu ul li:last-child{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px 15px;
}
.menu ul li a{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
}
.banner-content{
    background: url("../images/Group\ 14.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-img img{
    width: 560px;
}
.btn-go{
    border-radius: 48px;
    background: #4EC5F7;
}

/*############ Gamer Section Css ###############*/
.gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 110px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-img img{
    width: 560px;
}
.gamer-content{
    text-align: right;
}
.gamer-content h2{
    text-align: right;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
    text-transform: none;
}
.gamer-content p{
    width: 520px;
}
.gamer-content .purpose{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 20px;
    text-align: right;
}
.gamer-content .purpose span{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem;
}

/*############ Online-Games Css ###############*/
.online-games{
    padding: 80px 110px;
}
.online-games h2{
    padding-bottom: 20px;
    text-transform: none;
}
.online-games h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games p{
    padding-bottom: 30px;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.card-container img{
    width: 265px;
    height: 275px;
}
.card-container h4{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}

/*############ Play Css ###############*/
.play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 110px;
    gap: 180px;
}
.play-content h2, p {
   text-align: right;
}

.play-content h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-img{
    position: relative;
}
.play-img img:first-child{
    width: 460px;
}

.play-img img:last-child{
    width: 200px;
    position: absolute;
    bottom: -40px;
    right: 350px;
    border: 1px solid #0b02232e;
}

/*############ Category Css ###############*/
.category{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px 110px;
    gap: 5px;
}

.box{
    display: flex;
    align-items: center;
}

.box h4{
    line-height: normal;
    font-size: 1.05rem;

}

.footer-logo{
    display: flex;
}